version: v2
name: idexsample

contract:
  address: '0x2a0c0DBEcC7E4D658f48E01e3fA353F44050c208'
  path: ./contracts/Exchange.sol
  name: Exchange
  compilerVersion: 0.4.16

blockchain:
  platform: ethereum
  network: mainnet

handlers:
  idex-deposit:
    event: Deposit(address,address,uint256,uint256)
    version: v1
    runtime: tsnode8
    path: ./handlers/deposit.ts
    dep: ./handlers/package.json
    function: deposit

  idex-withdraw:
    event: Withdraw(address,address,uint256,uint256)
    version: v1
    runtime: tsnode8
    path: ./handlers/withdraw.ts
    dep: ./handlers/package.json
    function: withdraw

webhook:
  url: http://localhost:8080
  method: POST
  headers: 
    Authorization: 'Bearer YOUR-OWN-TOKEN'
